{% extends 'layout.twig' %}

{% block content %}
  <h3>Edit Value for list {{ list.name }}</h3>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Issue when we save the list : {{ error }}
  </div>
  {% endif %}
  <form id="listValueForm" action="/list/value/edit/{{ list.id }}" method="POST">
    <div class="form-group">
      <label for="listName">Name</label>
      <input type="text" class="form-control" id="listValueName" name="listValueName" aria-describedby="nameHelp" value="{{ value.name }}">
      <small id="nameHelp" class="form-text text-muted">Define a name for your value.</small>
    </div>
    <input type="hidden" value="{{ value.id }}" id="listValueId" name="listValueId">
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
