{% extends 'layout.twig' %}

{% block head %}
  {{ parent() }}
  <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
  <link rel='stylesheet' href='/stylesheets/fkycedBuildForm.css' />
{% endblock %}

{% block content %}
  <h3>New Form</h3>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Issue when we save the form : {{ error }}
  </div>
  {% endif %}
  <form id="formForm" action="/form/edit/{{ form.id }}" method="POST">
    <div class="form-group">
      <label for="formId">identifier</label>
      <input type="text" class="form-control" id="formId" name="formId" aria-describedby="identifierHelp" placeholder="Enter form identifier" value="{{ form.formId }}">
      <small id="identifierHelp" class="form-text text-muted">The ID of the form needs to be unique.</small>
    </div>
    <div class="form-group">
      <label for="formName">Name</label>
      <input type="text" class="form-control" id="formName" name="formName" aria-describedby="nameHelp" placeholder="Enter form Name"  value="{{ form.formName }}">
      <small id="nameHelp" class="form-text text-muted">Define a name for the form.</small>
    </div>
    <div class="form-group">
      <label for="formEditor">Formular</label>
      <div id="formEditor" name="formEditor"></div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock %}

{% block script %}
  {{ parent() }}
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/himalaya.js"></script>
  <script src="/javascripts/fkycedBuildForm.js"></script>

  <script>
    jQuery(function($) {
      const datas = {
        objects: {{ fields }}
      }
      const formData = {{ form.formStructure }}
      const formBuilder = new fkycedBuildForm($('#formEditor'), {}, datas, formData)
      $('#formForm').submit(function (event) {
        event.preventDefault()
        $('<input>').attr({
          type: 'hidden',
          id: 'data',
          name: 'data',
          value: formBuilder.getJson()
        }).appendTo('#formForm')
        this.submit()
      })
    })
  </script>
{% endblock %}
