{% extends "layout.twig" %}

{% block head %}
  {{ parent() }}
  <link rel='stylesheet' href='/stylesheets/fkycedBuildForm.css' />
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
  Issue with the page : {{ error }}
</div>
{% endif %}
<h1>{{task.name}}</h1>

<div id="formDisplay">
</div>

{% if previousTasks.length > 0 %}
<form action="/refer/previous" method="POST">
  <input type="hidden" name="processId" value="{{ task.processInstanceId }}">
  <button type="submit" class="btn btn-primary mb-2">Previous</button>
</form>
{% endif %}
{% endblock %}

{% block script %}
  {{ parent() }}
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/himalaya.js"></script>
  <script src="/javascripts/uuidv4.js"></script>
  <script src="/javascripts/fkycedBuildForm.js"></script>

  <script>
    jQuery(function($) {
      const container = $('div#formDisplay')
      {% if form %}
        const formData = {{ form.formStructure }}
      {% else %}
        const formData = null
      {% endif %}
      const datas = {{ currentVariables | json_encode }}
      const formDisplay = new fkycedDisplayForm(container, formData, { action: '/completeTask', method: 'POST', task: '{{ task.id }}' }, datas)
      formDisplay.display()
    });
  </script>
{% endblock %}
